<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Flask on Docker</title>
    <!-- meta -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/libs/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="./static/assets/css/app.css') }}">
    {% block css %}{% endblock %}
  </head>
  <body>
    <div class="container">
      <br>
      <!-- child template -->
      {% block content %}{% endblock %}
    </div>
    <!-- scripts -->
    <script type="text/javascript"src="{{ url_for('static', filename='assets/libs/angular/angular.min.js') }}"></script>
    <script type="text/javascript"src="{{ url_for('static', filename='app/app.module.js') }}"></script>
    {% block js %}{% endblock %}
  </body>
</html>
