{% extends "_base.html" %}

{% block content %}

<div class="text-center">
  <h1>Welcome!</h1>
</div>

<br>

<form action="/" method="POST">
  <div class="form-group">
    <input name="dim-x" class="form-control input-sm" type="text" placeholder="Enter the length of the Merchandise" required>
    <input name="dim-y" class="form-control input-sm" type="text" placeholder="Enter the width of the Merchandise" required>
    <input name="dim-z" class="form-control input-sm" type="text" placeholder="Enter the height of the Merchandise" required>
  </div>
  <input type="submit" class="btn btn-primary btn-lg btn-block" value="Submit">
</form>

<br>
<hr>

<div>
  {% for post in posts %}
  {% endfor %}
</div>

{% endblock %}
