{% extends "_base.html" %}

{% block content %}

<div class="text-center">
  <h1>Welcome!</h1>
</div>

<br>

<form action="/" method="POST">
  <div class="form-group">
    <input name="x_size" class="form-control input-sm" type="text" placeholder="X" required>
    <input name="y_size" class="form-control input-sm" type="text" placeholder="Y" required>
    <input name="z_size" class="form-control input-sm" type="text" placeholder="Z" required>
    <input name="amount" class="form-control input-sm" type="text" placeholder="Amount" required>
  </div>
  <input type="submit" class="btn btn-primary btn-lg btn-block" value="Submit">
</form>

<br>
<hr>

<div>
  {% for name in boxes %}
    <h4 class="well"><strong>{{box.name}}</strong> - <em>{{box.tag}}</em></h4>
  {% endfor %}
</div>

{% endblock %}
